.circle {
    stroke-width: 1px;
}

.link {
    fill: none;
    stroke: #9ecae1;
    stroke-width: 1px;
}

.title {
    font-family: sans-serif;
    font-size: 8px;
    fill: #ff0000;
}

.title__layout {
    font-family: sans-serif;
    font-size: 8px;
    stroke-linejoin: 'round';
    stroke-width: 3px;
    stroke: #ffffff;
}

.menu-entry__item {
    fill: rgb(244,244,244);
    stroke: #ffffff;
    stroke-width: 1px;
    cursor: pointer;
}

.menu-entry__title {
    fill: #11B49C;
    font-size: 8px;
    cursor: pointer;
}