*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

.wrap, .container{
    width: 100%;
    margin: 0 auto;
}

.wrap{
    max-width: 1920px;
}

.container{
    max-width: 1600px;
}

.upp{
    text-transform: uppercase;
}

.img-responsive{
    max-width: 100%;
}

.text-center{
    text-align: center;
}

.catalog-wrap{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item-catalog{
    width: 400px;
    margin: 0 20px 20px;
    cursor: pointer;
}

.block-modal{
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 30;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
}

.btn-close{
    position: absolute;
    top: 0;
    right: 15px;
    cursor: pointer;
    font-size: 35px;
}

.modal-wrap{
    width: 90%;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.9);
}

.modal-container{
    width: 100%;
    margin: 20px auto;
    vertical-align: middle;
    text-align: center;
}

@media screen and (max-width: 1600px){

    .wrap{
        max-width: 100%;
    }

    .container{
        max-width: 1200px;
    }

}

@media screen and (max-width: 1200px){

    .container{
        max-width: 992px;
    }

}

@media screen and (max-width: 992px){

    .container{
        max-width: 768px;
    }

}

@media screen and (max-width: 768px){

    .container{
        max-width: 500px;
    }

    .item-catalog{
        width: 100%;
    }

}

@media screen and (max-width: 500px){

    .container{
        max-width: 290px;
    }

}