.news-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex: 1 0 100%;
    color: #fff;
  }
  
  .news {
    margin: 10px 0;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }
  
  .news-title {
    display: block;
    color: #fff;
    margin-bottom: 12px;
    font-weight: 900;
  }
  
  .description span {
    padding: 0 10px;
  }
  
  .description .text {
    padding-left: 20px;
  }
  
  .description span:not(:last-child) {
    border-right: 1px solid #fff;
  }