:root{
  --bgCover: cover;
  --textCenter: center;
  --textLeft: left;
  --posRelative: relative;
  --posAbsolute: absolute;
  --textBlue: #0d319c;
  --textWhite: #ffffff;
  --red: #d01836;
  --lineMiddle: 1.5;
  --textRegular: 'Gotham Pro Regular';
  --textLight: 'Gotham Pro Light';
  --cursorPointer: pointer;
  --half: 50%;
}
@font-face {
  font-family: 'Gotham Pro Regular';
  font-path: '../fonts/GothamPro';
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro Light';
  font-path: '../fonts/GothamPro';
  font-weight: normal;
  font-style: normal;
}
body{
  font-family: var(--textRegular);
  padding: 0;
  margin: 0;
}
.slider-block{
  position: var(--posRelative);
  size: 700px 500px;
  margin: 0 auto;
  overflow: hidden;
  text-align: var(--textCenter);
}
.slide-item{
  size: 667px 500px;
  display: inline-block;
  &__container{
    width: 567px;
    margin: 35px auto;
    position: var(--posRelative);
  }
}
#slide-01{
  background: resolve(bg01.png);
  & .title{
    color: var(--textBlue);
    font-size: 25px;
    width: 406px;
    text-align: var(--textLeft);
    line-height: var(--lineMiddle);
    position: var(--posRelative) 53px * * *;
  }
}
#slide-02{
  background: resolve(bg02.png);
  & .title{
    width: 333px;
    color: var(--textWhite);
    font-size: 32px;
    font-family: var(--textLight);
    line-height: var(--lineMiddle);
    position: var(--posAbsolute) 170px * * 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }
}
#slide-03{
  background: resolve(bg03.png);
  & .title{
    font-size: 20px;
    color: var(--textWhite);
    position: var(--posAbsolute) 35px * * 0;
    z-index: 3;
  }
}
@custom-selector :--slideSize #slide01, #slide-02, #slide-03, .arrow-next, input[type='range']::-webkit-slider-thumb;
:--slideSize{
    background-size: var(--bgCover);
    background-repeat: no-repeat;
    background-position: top center;
 }
.arrow-next{
  size: 29px 15px;
  background: resolve(next.png);
  position: var(--posAbsolute) * * 0 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  cursor: var(--cursorPointer);
}
.arrow-next:after{
  content: "Листайте вниз";
  width: 100px;
  font-size: 10px;
  color: var(--textWhite);
  text-align: var(--textCenter);
  position: absolute * * 20px -37px;
}
.dots-block{
  position: var(--posAbsolute) 250px 30px * *;
  z-index: 10;
}
.dots-item{
  size: 10px 10px;
  border-radius: var(--half);
  background: var(--textWhite);
  margin-bottom: 7px;
  cursor: var(--cursorPointer);
  &.active{
    background: #f78b1f;
  }
}
.round{
  background: rgba(236,118,34, 0.3);
  border: 1px solid #d01836;
  border-radius: var(--half);
  position: var(--posAbsolute);
  z-index: 2;
  &-big{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-big:after{
    content: '';
    position: var(--posAbsolute);
    border-radius: var(--half);
    background: var(--red);
    z-index: 2;
    opacity: 0;
    animation: pulse2 1s linear infinite;
  }
  &-small{
    background: #ec7622;
    box-shadow: inset 0 0 3px var(--red);
  }
  &-small:after{
    content: '';
    position: var(--posAbsolute) -20px -20px -20px -20px;
    border-radius: var(--half);
    background: rgba(236,118,34, 0.5);
    border: 1px solid var(--red);
    animation: pulse 1s linear infinite;
  }
  &-01-label{
    position: 149px * * 356px;
  }
  &-02-label{
    position: 227px * * 98px;
  }
  &-03-label{
    position: 290px * * 183px;
  }
  &-04-label{
    position: 276px 40px * *;
  }
}
#round-01.round-big{
   size: 35px 35px;
   position: 136px * * 314px;
 }
#round-01.round-big:after{
   size: 5px 5px;
 }
#round-01.round-small{
   size: 10px 10px;
 }

#round-02.round-big{
   size: 20px 20px;
   position: 240px * * 127px;
 }
#round-02.round-big:after{
   size: 5px 5px;
 }
#round-03.round-big{
  size: 10px 10px;
  position: 310px * * 260px;
}
#round-03.round-big:after{
  size: 3px 3px;
}
#round-04.round-big{
  size: 10px 10px;
  position: 297px 70px * *;
}
#round-04.round-big:after{
  size: 3px 3px;
}

@keyframes pulse {
  0% {
    transform: scale(0.2);
  }
  50% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(0.6);
  }
}

@keyframes pulse2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.label-round{
  font-size: 13px;
  position: var(--posAbsolute);
}
.toggle{
  position: var(--posRelative) 70px * * 0px;
  z-index: 3;
  text-align: var(--textCenter);
}
.toggle-block{
  position: var(--posAbsolute) 415px * * 50%;
  z-index: 3;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
input[type='range'] {
  width: 420px;
  -webkit-appearance: none;
  background-color: #d1eaff;
  &:focus{
    outline: none;
  }
  &::-webkit-slider-runnable-track{
    height: 8px;
    -webkit-appearance: none;
    color: #435063;
    margin-top: -1px;
  }
  &::-webkit-slider-thumb{
    size: 29px 37px;
    -webkit-appearance: none;
    cursor: var(--cursorPointer);
    background: resolve(toogle_btn.png);
    margin-top: -14px;
    position: var(--posRelative);
  }
}
.year{
  font-size: 14px;
  color: var(--textWhite);
  &-block{
    position: var(--posRelative) 20px * * *;
  }
}
#year-01{
  position: var(--posAbsolute) * * * 0px;
}

#year-02{
  position: var(--posAbsolute) 10px * * 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#year-03{
  position: var(--posAbsolute) * 0px * *;
}
