#form{
    width: 300px;
    margin: 20px auto;
}

.block-field{
    display: block;
    margin-bottom: 20px;
}

.field, .btn{
    width: 100%;
    height: 40px;
}

.btn{
    border: 0;
    border-radius: 25px;
    background: #ff0000;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.valid{
    border: 2px solid #008000;
}

.invalid{
    border: 2px solid #ff0000;
}

.error-msg{
    color: #ff0000;
}