<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basket</title>
</head>
<body>

<div id="app">
    <product :product-list="product" @remove="remove"></product>
    <!--<comp-child></comp-child>-->
    <div>
        <button v-for="tab of tabs" :key="tab" @click="currentTab = tab">
            {{tab}}
        </button>
    </div>
    <component :is="currentTabComp"></component>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="components.js"></script>
<script src="app.js"></script>

</body>
</html>