<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test-vue</title>
    <style>
        .block{
            width: 200px;
            height: 200px;
            background: #c0c0c0;
        }
        .red{
            background: red;
        }
        .blue{
            background: blue;
        }
    </style>
</head>
<body>

<div id="app">
    <div class="products">
        <div class="product" v-for="product of products" :key="product.name">
            <img :src="product.img" alt="" />
            <div class="desc">
                <p>{{product.name}}</p>
                <p>{{product.price * product.quantity}}</p>
                <p>{{product.quantity}}</p>
            </div>
        </div>
        <button @click="addProduct">Add product</button>
        <button @click="increaseProduct">Increase product</button>
    </div>
    <h1 v-once>{{title}}</h1>
    <p>{{sayHello()}}</p>
    <a :href="link">Google</a>
    <div v-html="completeEl"></div>
    <div class="counter">
        <button @click="increase">Increase</button>
        <p>{{counter}}</p>
    </div>
    <div class="some">
        <p @mousemove="getCoordinates">Some long-long string {{x}} / {{y}} - <span @mousemove.stop="">NO COORDINATES</span></p>
    </div>
    <div>
        <input type="text" v-model="name" />
        <p>{{name}}</p>
    </div>
    <div>
        <button @click="counter++">Increase</button>
        <button @click="counter--">Decrease</button>
        <button @click="secondCounter++">Increase second</button>
        <p>Counter: {{counter}} | {{secondCounter}}</p>
        <p>Result: {{result()}} | {{output}}</p>
    </div>
    <div>
        <div class="block" @click="isRed = !isRed" :class="{red: isRed, blue: !isRed}"></div>
        <div class="block" @click="isRed = !isRed" :class="divClasses"></div>
        <div class="block" :style="{'background': color}"></div>
        <div class="block" :style="myStyle"></div>
        <input type="text" v-model="color" />
        <input type="text" v-model="width" />
    </div>
    <div>
        <h2 v-if="show">I'm visible</h2>
        <h2 v-else>I'm not visible</h2>
        <h2>Static</h2>
        <p v-show="show">Hide display</p>
        <button @click="show = !show">Switch</button>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            x: 0,
            y: 0,
            counter: 0,
            secondCounter: 0,
            name: 'John',
            title: 'Hello',
            link: 'https://google.com',
            completeEl: `<a href="https://google.com">Google complete</a>`,
            isRed: false,
            color: 'green',
            width: 100,
            show: true,
            products: [
                {img: 'https://avatars.mds.yandex.net/get-mpic/1961245/img_id4859929579330359806.png/9hq', name: 'Notebook', price: 20000, quantity: 1},
                {img: 'https://avatars.mds.yandex.net/get-mpic/175985/img_id3773806080808485674/9hq', name: 'Клавиатура', price: 1000, quantity: 1},
                {img: 'https://avatars.mds.yandex.net/get-mpic/372220/img_id321719605945433141/9hq', name: 'Мышка', price: 1500, quantity: 1}
            ]
        },
        computed:{
            output(){
                return this.counter > 5 ? 'Greater than 5' : 'Less than 5';
            },
            divClasses(){
                return{
                    red: this.isRed,
                    blue: !this.isRed
                }
            },
            myStyle(){
                return{
                    backgroundColor: this.color,
                    width: `${this.width}px`,
                    height: `${this.width}px`
                }
            }
        },
        methods: {
            sayHello(){
                this.title = 'FOO';
                return this.title
            },
            increase(){
                this.counter++
            },
            getCoordinates(){
                this.x = event.clientX;
                this.y = event.clientY;
            },
            result(){
                return this.counter > 5 ? 'Greater than 5' : 'Less than 5';
            },
            addProduct(){
                this.products.push({img: 'https://avatars.mds.yandex.net/get-mpic/1571888/img_id4190313051512351606.jpeg/9hq', name: 'Кресло', price: 2000, quantity: 1})
            },
            increaseProduct(){
                this.products[1].quantity++
            }
        }
    })
</script>

</body>
</html>