<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basket</title>

    <link rel="stylesheet" href="lib/fontawesome-free-5.12.0-web/css/all.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div id="app">
    <header>
        <div class="header">
            <div class="logo">E-shop</div>
            <div class="cart">
                <form action="#" class="search-form" @submit.prevent="filter">
                    <input type="text" class="search-field" v-model="userSearch"/>
                    <button type="submit" class="btn-search">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
            <div>
                <button class="btn-cart" type="button" @click="showCart = !showCart">Корзина</button>
            </div>
        </div>
        <div class="cart-block" v-show="showCart">
            <p v-if="!cartItems.length">Корзина пуста</p>
            <div class="cart-item" v-for="item of cartItems" :key="item.id">
                <div class="product-bio">
                    <img :src="item.img" alt="" class="cart-img"/>
                    <div class="product-desc">
                        <div class="product-title">{{item.name}}</div>
                        <div class="product-quantity">Количество: {{item.quantity}}</div>
                        <div class="product-single-price">{{item.price}} Руб./шт</div>
                    </div>
                </div>
                <div class="right-block">
                    <span class="product-price">{{item.quantity * item.price}} Руб.</span>
                    <button class="del-btn" @click="remove(item)">&times;</button>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="products">
            <div class="product-item" v-for="product of filtered" :key="product.id">
                <img :src="product.img" class="img-responsive" alt="" />
                <div class="desc">
                    <h3>{{product.name}}</h3>
                    <p>{{product.price}} Руб.</p>
                    <button class="by-btn" @click="addProduct(product)">Купить</button>
                </div>
            </div>
        </div>
    </main>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/script.js"></script>

</body>
</html>