body{
    color: #071452;
}

.invisible{
    display: none;
}

.header{
    display: flex;
    width: 98%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background: #9ed0e4;
    padding: 10px;
    position: relative;
    margin: 0 auto;
}

.products{
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}

.product-item{
    width: 300px;
    border: 1px solid #071452;
    border-radius: 5px;
    padding: 5px;
}

.img-responsive{
    max-width: 100%;
}

.btn-cart, .logo{
    font-size: 16px;
    font-weight: 600;
    color: #071452;
}

.btn-cart,
.btn-search{
    border: 0;
    background: transparent;
    cursor: pointer;
}

.by-btn{
    width: 150px;
    height: 40px;
    background: #071452;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.search-field{
    background: transparent;
    border-bottom: 1px solid #071452;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.btn-search{
    background: transparent;
    color: #071452;
}

.cart-block{
    width: 300px;
    background: #ffffff;
    border: 1px solid #071452;
    position: absolute;
    right: 0;
    top: 70px;
    padding: 5px;
}

.cart-block:after{
    content: '';
    position: absolute;
    border: 16px solid transparent;
    border-bottom: 16px solid #071452;
    display: block;
    width: 0;
    height: 0;
    top:-32px;
    right: 20px;
    z-index: 0;
}

.cart-block:before{
    content: '';
    position: absolute;
    border: 15px solid transparent;
    border-bottom: 15px solid #ffffff;
    display: block;
    width: 0;
    height: 0;
    top: -30px;
    right: 21px;
    z-index: 1;
}

.cart-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}

.product-bio{
    display: flex;
    width: 70%;
}

.right-block{
    width: 30%
}

.cart-img{
    width: 30%;
}

.product-desc{
    width: 70%;
    padding-left: 10px;
    float: right;
}

.product-title{
    font-weight: 600;
    margin-bottom: 10px;
}

.product-quantity,
.product-single-price{
    font-size: 12px;
}

.del-btn{
    background: #9ed0e4;
    font-weight: 600;
}

.product-price{
    font-size: 14px;
    font-weight: 600;
}