:root{
  --white: #ffffff;
  --textRegular: 'Rubik';
  --textLight: 'Rubik-light';
  --textMedium: 'Rubik-medium';
  --dispayInline: inline-block;
  --verticalMiddle: middle;
  --letterSpacing: 0.5px;
  --borderbox: border-box;
  --colorDark: #333333;
}

@font-face {
  font-family: 'Rubik';
  font-path: '../fonts/Rubik/Rubik';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-medium';
  font-path: '../fonts/Rubik-medium/Rubik-medium';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-light';
  font-path: '../fonts/Rubik-light/Rubik-light';
  font-weight: normal;
  font-style: normal;
}

body, html, #app{
  height: 100%;
}

*{
  box-sizing: var(--borderbox);
}

body{
  font-family: var(--textRegular);
  font-size: 12px;
}

.bg-body{
  display: var(--dispayInline);
  width: 100%;
  height: 100%;
  background: #e5e5e5;
  position: relative;
}

.card-block{
  display: var(--dispayInline);
  position: absolute;
  width: 432px;
  background: #ffffff;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 100px;
  padding: 10px;
}

.title{
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 15px;
  letter-spacing: var(--letterSpacing);
}

.text-light{
  font-family: var(--textLight);
}

.block-check{
  margin-bottom: 15px;
}

.btn-check{
  display: var(--dispayInline);
  width: 18px;
  height: 18px;
  background: #6F9D6B;
  margin-right: 5px;
  vertical-align: var(--verticalMiddle);
  cursor: pointer;
}

#check-gift{
  display: none;
}

#check-gift:checked + .btn-check{
  background: resolve(check.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.check-text{
  vertical-align: var(--verticalMiddle);
}

.title-card{
  margin-bottom: 15px;
  color: #666666;
}

.card-wrap, .card-item{
  display: var(--dispayInline);
  margin-bottom: 10px;
}

.card-wrap .card-item:nth-child(1){
  width: 295px;
  height: 45px;
  margin-right: 15px;
}

.card-wrap .card-item:nth-child(2){
  width: 100px;
  height: 45px;
}

.card-field{
  size: 100% 100%;
  border: 1px solid #CCCCCC;
  background: #FFFFFF;
  padding-left: 10px;
  line-height: 45px;
}

::-webkit-input-placeholder {font-family: var(--textLight); font-size: 12px; font-weight: 300;color: #666666;}
::-moz-placeholder          {font-family: var(--textLight); font-size: 12px; font-weight: 300;color: #666666;}/* Firefox 19+ */
:-moz-placeholder           {font-family: var(--textLight); font-size: 12px; font-weight: 300;color: #666666;}/* Firefox 18- */
:-ms-input-placeholder      {font-family: var(--textLight); font-size: 12px; font-weight: 300;color: #666666;}

.card-btn{
  size: 140px 45px;
  background: var(--colorDark);
  border: 0;
  color: #ffffff;
  font-family: var(--textMedium);
  text-transform: uppercase;
  cursor: pointer;
}

.card-apply{
  width: 100%;
  display: var(--dispayInline);
  background: #F2F2F2;
  padding: 10px;
  margin-bottom: 15px;
  &__title{
    color: var(--colorDark);
    margin-bottom: 5px;
  }
  &__numb{
    display: var(--dispayInline);
    width: 285px;
    font-family: var(--textLight);
  }
  &__discount{
    display: var(--dispayInline);
    width: 100px;
    font-family: var(--textMedium);
    color: var(--colorDark);
    text-align: right;
  }
  &__error{
    color: #f00;
    margin-bottom: 10px;
  }
}

.error{
  border: 1px solid #f00;
}
