.title {
    font-family: sans-serif;
    font-size: 8px;
    fill: #000000;
}

.title__layout {
    font-family: sans-serif;
    font-size: 8px;
    stroke-linejoin: 'round';
    stroke-width: 3px;
    stroke: #ffffff;
}

path.disabled {
    stroke: #f5f5f5;
}

.disabled path{
    stroke: #f5f5f5;
    fill: #f5f5f5;
}

text.disabled {
    fill: #f5f5f5;
}

.disabled marker path {
    fill: #f5f5f5;
}

.tooltip {
    display: inline-block;
    width: 200px;
    background: #c8dedf91;
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 15px;
    position: absolute;
    right: 200px;
    top: 100px;
}

.tooltip__content {
    display: inline-block;
    width: 100%;
    font-size: 12px;
    color: #000000;
}

.menu-entry__item {
    fill: rgb(244,244,244);
    stroke: #b4ccf8;
    stroke-width: 1px;
    cursor: pointer;
}

.menu-entry__title {
    fill: #0755B4;
    font-size: 12px;
    cursor: pointer;
}
