@font-face {
    font-family: 'Gotham Pro Regular';
    src: url('fonts/GothamPro.eot');
    src: url('fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
    url('fonts/GothamPro.woff') format('woff'),
    url('fonts/GothamPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro Light';
    src: url('fonts/GothamPro-Light.eot');
    src: url('fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/GothamPro-Light.woff') format('woff'),
    url('fonts/GothamPro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Gotham Pro Regular';
    padding: 0;
    margin: 0;
}

.carousel{
    width: 700px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

}

.slide{
    display: inline-block;
    width: 667px;
    height: 500px;
}

#slide01{
    background: url("img/bg01.png") no-repeat top center;
    background-size: cover;
}

.slide-container{
    width: 567px;
    margin: 35px auto;
    position: relative;
}

#slide01 .title{
    font-size: 25px;
    width: 469px;
    text-align: left;
    line-height: 1.5;
    top: 53px;
    position: relative;
}

.text-center{
    text-align: center;
}

.text-blue{
    color: #0d319c;
}

.round{
    background: rgba(236,118,34, 0.3);
    border: 1px solid #d01836;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
}

.round-big{
    display: flex;
    align-items: center;
    justify-content: center;
}

.round-big:after{
    content: '';
    position: absolute;
    border-radius: 50%;
    background: #d01836;
    z-index: 2;
    opacity: 0;
    animation: pulse2 1s linear infinite;
}

.round-small{
    background: #ec7622;
    box-shadow: inset 0 0 3px #d01836;
}

.round-small:after{
    content: '';
    position: absolute;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    background: rgba(236,118,34, 0.5);
    border: 1px solid #d01836;
    animation: pulse 1s linear infinite;
}

#round01.round-big{
    width: 35px;
    height: 35px;
    top: 136px;
    left: 314px;
}

#round01.round-big:after{
    width: 5px;
    height: 5px;
}

#round01 .round-small{
    width: 10px;
    height: 10px;
}

#round02.round-big{
    width: 20px;
    height: 20px;
    top: 240px;
    left: 127px;
}

#round02.round-big:after{
    width: 5px;
    height: 5px;
}

#round03.round-big{
    width: 10px;
    height: 10px;
    top: 310px;
    left: 260px;
}

#round03.round-big:after{
    width: 3px;
    height: 3px;
}

#round04.round-big{
    width: 10px;
    height: 10px;
    top: 297px;
    right: 70px;
}

#round04.round-big:after{
    width: 3px;
    height: 3px;
}

@keyframes pulse {
    0% {
        transform: scale(0.2);
    }
    50% {
        transform: scale(0.4);
    }
    100% {
        transform: scale(0.6);
    }
}

@keyframes pulse2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.label-round{
    font-size: 13px;
    position: absolute;
}

.label-round01{
    top: 149px;
    left: 356px;
}

.label-round02{
    top: 227px;
    left: 98px;
}

.label-round03{
    top: 290px;
    left: 183px;
}

.label-round04{
    top: 276px;
    right: 40px;
}

.navigation{
    position: absolute;
    top: 250px;
    right: 30px;
    z-index: 10;
}

.dots{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffffff;
    margin-bottom: 7px;
    cursor: pointer;
}

.dots.active{
    background: #f78b1f;
}

.arrow-next{
    width: 29px;
    height: 15px;
    background: url("img/next.png") no-repeat top center;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    cursor: pointer;
}

.arrow-next:after{
    content: 'Листайте вниз';
    width: 100px;
    font-size: 10px;
    color: #ffffff;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: -37px;
}

#slide02{
    background: url("img/bg02.png") no-repeat top center;
    background-size: cover;
}

.layer-slide02{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}

#slide02 .title{
    width: 333px;
    position: absolute;
    font-family: 'Gotham Pro Light';
    font-size: 32px;
    line-height: 1.5;
    color: #ffffff;
    top: 170px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

#slide03{
    background: url("img/bg03.png") no-repeat top center;
    background-size: cover;
}

.layer-slide03{
    position: absolute;
    z-index: 2;
    top: 35px;
    left: -50px;
}

#slide03 .title{
    font-size: 20px;
    position: absolute;
    z-index: 3;
    left: 0;
    top: 35px;
    color: #ffffff;
}

.tgl{
    position: relative;
    z-index: 3;
    top: 70px;
    left: 0;
    text-align: center;
}

.hide{
    display: none;

}

.toogle-block{
    position: absolute;
    z-index: 3;
    top: 415px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

input[type='range'] {
    width: 420px;
    -webkit-appearance: none;
    background-color: #d1eaff;
}

input[type=range]:focus {
    outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 8px;
    -webkit-appearance: none;
    color: #435063;
    margin-top: -1px;
}

input[type='range']::-webkit-slider-thumb {
    width: 29px;
    -webkit-appearance: none;
    height: 37px;
    cursor: pointer;
    background: url("img/toogle_btn.png") no-repeat top center;
    margin-top: -14px;
    position: relative;
}

.year-block{
    position: relative;
    top: 20px;
}

.year{
    font-size: 14px;
    color: #ffffff;
}

#year1{
    position: absolute;
    left: 0;
}

#year2{
    position: absolute;
    top: 10px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#year3{
    position: absolute;
    right: 0;
}

/*.show{*/
    /*display: block;*/
/*}*/






