@import "variables";
@import "mixins";

.chess__board {
  margin: 20px auto;

  & .row {
    @include flexBlock();
  }

  & .row:nth-child(even) .cell:nth-child(even),
  & .row:nth-child(odd) .cell:nth-child(odd) {
    background: $brown;
  }

  & .row:nth-child(even) .cell:nth-child(odd),
  & .row:nth-child(odd) .cell:nth-child(even) {
    background: $white;
  }

  & .row-info,
  & .cell,
  & .column {
    @include flexBlock();
    width: 50px;
    height: 50px;
  }

  & .row-game {
    @include flexBlock();
  }

  & .cell{
    border: 2px solid $black;

    &.white {
      background-color: $white;
    }

    &.brown {
      background-color: $brown;
    }

    & .dark {
      color: $lightBrown
    }

    & .light {
      color: $orange;
    }
  }

}
